<body>
h1{color:red;
   text-align:center;
   font-size:2.84vw}

h2{font-size:1.85vw}

a{font-size:1.35vw}

.left{background-color:white;
      padding:20px;
      float:left;
      width:20%;}
.main{background-color:white;
      padding:20px;
      float:left;
      width:60%;
      }
.right{background-color:white;
      padding:20px;
      float:left;
     width:20%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; padding: 20px; /* Added padding for better spacing */
    box-sizing: border-box;
}

@media (max-width: 1200px) {
	body { font-size: 14px; 
	     } 
}

 @media (max-width: 768px) { 
	 body { font-size: 12px;
	      }
 }

 @media (max-width: 480px) {
	 body { font-size: 10px; 
	      } 
 }

 @media (max-width: 768px) { 
	.container { 
		width: 100%; 
	} 

	.left, .main, .right { 
	width: 100%; 
	float: none; } 
	}
      

@media screen and (max-width:800px){
.left,.main,.right{100%}
}

ul{font-size:1.5vw}

ol{font-size:1.3vw}

</body>
